// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$container-max-widths: (
  'lg': 1040px,
  'xl': 1040px
);

$rounded: (
  null: 0.375rem
);

$btn-text-transform: initial;
$body-font-family: "HKGroteskPro", sans-serif;

// Colors
$text-muted: #869ab8;
$text-gray-700: #506690;
$bg-gray-200: #f1f4f8;
$bg-gray-light: #ccc;
$bg-light-200: #f9fbfd;
$hover-link: #219dff;
$dark-blue: #335eea;
$white: #fff;
$bg-gray-300: #d9e2ef;
$yellow-text: #feb91a;
$yellow-text-dark: #F9A825;
$bg-gray-500: #eee;
$bg-dark-blue: #1b2a4e;
$black: #000;
$green-text: #42ba96;
$gray-text: #abbcd5;
