@import 'base';
@import 'fonts';

.v-application {
  background-color: $bg-light-200 !important;

  .list-unstyled {
    padding-left: 0;
  }
}

.external-link {
  display: flex;
  align-items: center;
}

.product-item {
  > section:not(:first-child) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 120px;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 0;
      background-color: $white;
      border-top: 0;
      z-index: 0;
    }

    &:nth-child(odd) {
      background: $white !important;

      &::before {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 100%;
        background-color: $bg-light-200;
      }
    }
  }

  .details-feature-list + section,
  .welcome + section {
    padding-top: 60px;

    &::before {
      content: none !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
